@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@1,300&display=swap');
html{
    box-sizing: border-box;
}


body{
    margin: 0;
    min-height: 100vh;
    background-color: rgb(36, 7, 79);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23eb0089' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: rgb(216, 112, 147);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 10px rgba(216, 112, 147, 0.2);
}

.quote-text{
    font-size: 2.75rem;
}

.long-quote{
    font-size: 2rem;
}

.fa-quote-left{
    font-size: 4rem;
}

.quote-author{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
     cursor: pointer;
     font-size: 1.2rem;
     height: 2.5rem;
     border: none;
     border-radius: 10px;
     color: rgb(0, 0, 0);
     background: #d87093;
     outline: none;
     padding: 0.5rem 1.8rem;
     box-shadow: 0 0.rem rgba(216, 112, 147, 0.2);
}

button:hover {
    filter: brightness(150%);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(82, 72, 75, 0.65);
}

.twitter-button:hover {
    color: #1d4ff2;
}

.fa-twitter {
    font-size: 1.8rem;
}

/* Loader */
.loader {
    border: 16px solid #d87093; /* Light grey */
    border-top: 16px solid #4c0b58; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .quote-container{
        margin: auto 10px;
    }

    .quote-text{
       font-size: 2.5rem; 
    }
}